
.fileContextButton {
    color: white;
    border: none;
    outline: none;
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: #363545;
    padding: 5px;
}

.fileContextButton:hover {
    background-color: #4d4b4b;
}

.fileContextOptionsWrapper {
    width: 120px;
    position: fixed;
    border: 1.5px solid black;
}
